@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@600;700&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8F6F2;
  color: #111827;
}

.heading-font {
  font-family: 'Playfair Display', serif;
}